# Ignore Python cache
__pycache__/
*.pyc

# Ignore data
data/
data/raw/
data/interim/
data/processed/

# Ignore models
#model/
#*.pkl
#*.h5

# Ignore reports
reports/

# Ignore DVC caches
.dvc/tmp/
.dvc/cache/
# DVCLive logs
dvclive/

# MLflow runs
mlruns/

# Log files
logs/
